# nginx proxy address - http://172.17.0.1:59068

name: uptimekuma
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: louislam/uptime-kuma:latest
    container_name: uptimekuma-app
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
    ports:
      - '172.17.0.1:59068:3001'
    volumes:
      - './rootfs/data/uptimekuma:/app/data'
    networks:
      - uptimekuma

networks:
  uptimekuma:
    name: uptimekuma
    external: false
